<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Excel-ify</title>
  <link rel="shortcut icon" href="/assets/img/excel.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <img id="logo" src="/assets/img/excel.png" alt="face logo"/>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a id="deleteButton" href="/deleteAccount">Delete Account</a></div>
    <div class="navlink"><a id="resetPassButton" href="/resetpass">Reset Password</a></div>
    <div class="navlink"><a id="premiumSignUpButton" href="/premiumSignup">Premium</a></div>
    <h2></h2>
  </nav>
  <div class="flex">
    <div class="border-left">
    </div>
    <div class="upload-content">

      <section id="content">
      </section>

        <form ref='uploadForm' 
          id='uploadForm' 
          action='/upload' 
          method='post' 
          encType="multipart/form-data">
          <div class="container">
            <div class="drop-area" id="dropArea">
              <h3 class="drop-text">Drag and Drop files here (in progress)</h3>
              <input type="file" id="fileInput" name="sampleFile" />
            </div>
          </div>
            <input class="buttonStyle" class='uploading' type='submit' value='Upload' />
        </form> 

        <br>

        {{!-- <form ref='retrieveForm' 
          id='retrieveForm' 
          action='/retrieve' 
          method='get'>
          <label for='fileName'>Retrieve File By ID: </label>
          <input name='_id' type='text' />
          <input type='submit' value='Search' />
        </form> --}}

        <br>

        <form ref='searchForm' 
          id='searchForm' 
          action='/search' 
          method='get'>
          <label for='fileName'>Search Files For: </label>
          <input name='_id' type='text' placeholder="search term"/>
          <input class="buttonStyle" class="buttonStyle" type='submit' value='Search' />
        </form>

        <br>

        <form ref='displayAll' 
          id='displayAll' 
          action='/upload' 
          method='get'>
          <input class="buttonStyle" type='submit' value='Show your Files' />
        </form>

        <br>
      <section id="fileStore">
        {{#if files}}
        <h2>Your Files:</h2>
          {{#each files}}
          <div class="fileDisplay">
              <a href="{{this.data}}" download><img src="/assets/img/downloadicon.png" alt="download icon" class="excelLogo"></a> 
              <h3 class="fileName">Name: {{this.name}}</h3> 
          </div>
          {{/each}}
        {{else}}
          <h3 class="emptyFiles">No files!</h3>
        {{/if}}
      </section>

    </div>

    <div class="border-right">
    </div>

   </div>
   <div id="domoMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3>
    <img id="domo" src="assets/img/domo.png" alt="domo"/>
  </div>
   <script src="/assets/uploadBundle.js"></script>
</body>
</html>
