html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #e0f5e3;
    font-family: sans-serif;
}

h1{
    padding-top: 100px;
    font-size: 100px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color:#2f9e54;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #4ad361;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #2f9e54;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #27f149;
}

.domoForm {
    border: 2px solid #5ced73;
    height: 35px;
    width: 1200px;
    margin-top:0px;
    padding-top:10px;
    background-color: #5ced73;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.domoForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.2em;
    float: left;
    color: white;
}

.domoForm input[type=text] {
    float:left;
}

.makeDomoSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #5ced73;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeDomoSubmit:link, .makeDomoSubmit:visited, .makeDomoSubmit:hover, .makeDomoSubmit:active {
    color: white;
}

.makeDomoSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #5ced73;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #5ced73;
    border-radius: 2px;
    border-color: #2d853c;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #2d853c;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #5ced73;
}

.hidden {
    display: none;
}

#excelMessage {
    height: 400px;
    position: absolute;
    z-index: 200;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    overflow: hidden;
}

#domoMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 2em;
    font-weight: bold;
    color: red;
}

/* #fileStore{
    text-align: center;
} */

.fileDisplay{
    background-color: #26d86b;
    border-radius: 20px;
    margin:20px;
    width: 250px;
    height: 100px;
}

img.excelLogo {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    float:left;
}

img.ad {
    width: 50%;
    border-radius: 4px;
    float:none;
}

h3.emptyFiles {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.fileName {
    float:left;
    width: 200px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}


/* New CSS */

/*https://stackoverflow.com/questions/75067533/add-borders-to-sides-of-screen-in-css  */
.flex {
    display: flex;

    flex-direction: row;
}

#border-left {
    width: 15%;
    height: 100vh;
    background-color: #5ced73;
}
#border-right {
    width: 15%;
    height: 100vh;
    background-color: #5ced73;
}

.upload-content{
    width: 70%;
    height: 100vh;
    text-align: center;
}

#uploadForm{
    padding-top: 50px;
}

#retrieveForm{
    text-align: center;
}

#searchForm{
    text-align: center;
}

.container {
    margin: 50px auto;
    width: 25% !important;
    text-align: center;
  }
  
  .drop-area {
    border: 2px dashed #ccc;
    padding: 20px !important;
    cursor: pointer;
  }
  
  .drop-text {
    font-size: 1.2em;
  }
  
  .file-label {
    cursor: pointer;
    display: block;
    margin-top: 10px !important;
  }
  
  #fileList {
    margin-top: 20px !important;
    text-align: left;
  }
  
  .file-item {
    margin-bottom: 5px !important;
  }

.buttonStyle {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid #4CAF50; 
  color: #4CAF50;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.buttonStyle:hover {
  background-color: #4CAF50; 
  color: #fff;
  border-color: #4CAF50;
}

.textInput {
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    font-size: 16px;
}

.textInputSmall {
    width: 20%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    font-size: 16px;
}
